<h1>Welcome to Creative bikes</h1>
<h2>Used bikes with special charm</h2>

<h2 class="link"> <%= link_to "Click here to see more", static_pages_landing_page_path %></h2>

<%=image_tag("cover3.jpg", class: "img-responsive imageindexpage") %>
