// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  padding-top: 50px;
  background-color: #fffaea;
}

.page-wrap {
  min-height: 100%;
  margin-botton: -70px;
  background-color: #fffaea;
  margin-left: 20px;
  margin-right: 20px;
}

.page-wrap:after {
  content: "";
  display: block;
}

h1 {
  font-family: Federo, sans-serif;
  color: #15272d;
  text-align: center;
}

h2 {
  font-family: Federo, sans-serif;
  color: #15272d;
  text-align: center;
}

.link {
  font-family: "Source Code Pro", monospace, sans-serif;
  font-size: 1.5em;
}

.imageindexpage {
  margin: auto;
  padding-top: 20px;
}

/** NAVIGATION BAR **/

.navbar {
  background-color: #91b89d;
}

.navbar-inverse .navbar-nav li a {
  color: #f4f7f5;
  text-transform: uppercase;
  font-family: "Source Code Pro", monospace, sans-serif;
  letter-spacing: 1.5px;
  font-weight: 800;
  font-size: 1.3em;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}

.navbar-inverse .navbar-nav li a:hover {
  color: #15272d;
}

/** FOOTER **/

.site-footer, .page-wrap:after {
  height: 70px;
}

.site-footer {
  background: #74937d;
}

.site-footer p {
  color: #ffe4b2;
  font-family: "Source Code Pro", monospace, sans-serif;
  font-weight: 800;
  font-size: 1.4em;
  text-align: center;
  padding-top: 20px;
}

/** CAROUSEL **/

.carousel {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media only screen and (max-device-width: 1024px) {
  .carousel {
    width: 100%;
  }
}

.carousel-indicators .active{
  background-color: #ffe4b2;
}

.carousel-inner > .item > img {
  margin: auto;
  width: 100%;
}

a:hover {
  background-color: transparent;
}

.carousel-caption {
  padding-bottom: 50px;
  font-size: 3.5em;
  font-family: Niconne, Nunito, sans-serif;
  color: #ffe4b2;
}

.glyphicon {
  color: #ffe4b2;
}

